/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

main {
  width: 80%;
  display: grid;
  grid-template-areas: 'user work play study' 'user exercise social self-care';
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem; }
  main .card-user {
    grid-area: user; }
  main .outer-card--work {
    grid-area: work; }
  main .stats--play {
    grid-area: play; }
  main .stats--study {
    grid-area: study; }
  main .stats--exercise {
    grid-area: exercise; }
  main .stats--social {
    grid-area: social; }
  main .self-care {
    grid-area: self-care; }

.outer-card {
  position: relative;
  border-radius: 1rem;
  min-width: 10rem;
  min-height: 13rem; }
  .outer-card .inner-card {
    position: absolute; }
  .outer-card .background-card {
    border-radius: 1rem;
    top: 0;
    left: 0;
    height: 30%;
    width: 100%; }
  .outer-card .card {
    bottom: 0;
    left: 0;
    height: 85%;
    width: 100%; }

.background-card {
  display: flex;
  justify-content: flex-end; }
  .background-card > img {
    opacity: 0.7;
    padding-right: 1rem;
    width: 5rem;
    height: 5rem; }

.background-card--work {
  background-color: #ff8c66; }

.background-card--play {
  background-color: #56c2e6; }

.background-card--study {
  background-color: #ff5c7c; }

.background-card--exercise {
  background-color: #4acf81; }

.background-card--social {
  background-color: #7536d3; }

.background-card--self-care {
  background-color: #f1c65b; }

.card {
  background-color: #1c1f4a;
  color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start; }
  .card.hidden-card {
    display: none; }
  .card div:first-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .card div:first-child h2 {
      font-weight: 400; }
    .card div:first-child a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #bdc1ff;
      font-size: 1.5rem;
      font-weight: 500;
      text-decoration: none; }
  .card div:nth-of-type(2) p {
    font-size: 3rem;
    font-weight: 300; }
  .card div:last-child p {
    color: #bdc1ff;
    font-size: 0.9rem;
    font-weight: 300; }

.card-user {
  background-color: #1c1f4a;
  color: #fff;
  border-radius: 1rem;
  min-width: 10rem;
  position: relative; }
  .card-user .user {
    position: absolute; }
  .card-user .user--info {
    top: 0;
    left: 0;
    background-color: #5847eb;
    border-radius: 1.5rem;
    width: 100%;
    height: 70%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start; }
    .card-user .user--info div:first-child img {
      height: 5.625rem;
      border: 0.2rem solid #fff;
      border-radius: 50%; }
    .card-user .user--info div:last-child p {
      font-size: 0.9rem;
      font-weight: 300; }
    .card-user .user--info div:last-child h1 {
      font-size: 2rem;
      font-weight: 300; }
  .card-user .user--toggle-time {
    bottom: 0;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 1rem; }
    .card-user .user--toggle-time > div a {
      text-decoration: none;
      color: #6f76c8; }
      .card-user .user--toggle-time > div a:active, .card-user .user--toggle-time > div a:focus, .card-user .user--toggle-time > div a:hover {
        color: #fff; }

body {
  min-height: 100vh;
  background-color: #0f1424;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  font-size: 1.125rem; }
