@import "../sass-utils/variables";

.card {
    background-color: $clr-dark-blue;
    color: #fff;
    border-radius: 1rem;
    height: 10rem;
    padding: 2rem;
    position: relative; // for the ::before element

    // flex
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    &.hidden-card {
        display: none;
    }

    // first div
    div:first-child {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        // h2
        h2 {
            font-weight: $fw-400;
        }
        // dots
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $clr-pale-blue;
            font-size: $fs-400;
            font-weight: $fw-500;
            text-decoration: none;
        }
    }

    // second div
    div:nth-of-type(2) {
        p {
            font-size: $fs-600;
            font-weight: $fw-300;
        }
    }

    // third div
    div:last-child {
        p {
            color: $clr-pale-blue;
            font-size: $fs-000;
            font-weight: $fw-300;
        }
    }
}

// .card::before {
//     content: url(../../../images/icon-exercise.svg);
//     position: absolute;
//     top: -15%;
//     right: 0;
//     opacity: 0.7;
//     background-color: green;
//     width: 100%;
//     border-top-left-radius: 1rem;
//     border-top-right-radius: 1rem;
//     z-index: -1;
// }