main {
    background-color: white;
    width: 80%;

    display: grid;
    grid-template-areas: 
        'user work play study'
        'user exercise social self-care'
    ;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}