main {
    width: 80%;

    display: grid;
    grid-template-areas: 
        'user work play study'
        'user exercise social self-care'
    ;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;

    .card-user {
        grid-area: user;
    }

    .outer-card--work {
        grid-area: work;
    }

    .stats--play {
        grid-area: play;
    }

    .stats--study {
        grid-area: study;
    }

    .stats--exercise {
        grid-area: exercise;
    }

    .stats--social {
        grid-area: social;
    }

    .self-care {
        grid-area: self-care;
    }
}

.outer-card {
    position: relative;
    border-radius: 1rem;
    min-width: 10rem;

    .inner-card {
        position: absolute;
    }

    .background-card {
        border-radius: 1rem;
        top: 0;
        left: 0;
        height: 30%;
        width: 100%;
    }

    .card {
        bottom: 0;
        left: 0;
        height: 85%;
        width: 100%;
    }
}