@import "../sass-utils/variables";

body {
    min-height: 100vh;
    background-color: $clr-very-dark-blue;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Rubik', sans-serif;
    font-size: $fs-200;
}